.a{
 color:red;
}
.b{
    color:pink;
}
.c{
    color:blue;
}

.d{
    color:yellow;
}
.e{
    color:green;
}
.f{
    color:skyblue;
}
.g{
    color:darkblue;
}
.h{
    color:rosybrown;
}

.i{
    color:hotpink;
}
.j{
    color:darkcyan;
}
.k{
    color:yellowgreen;
}
.l{
    color:springgreen;
}
.m{
    color:peru;
}